body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center; 
    margin: 0 0 0 0;
    height: 90vh;
    width: 99.9vw;
}

header {
    height: 11vh;
    padding-top: 10px;
    padding-bottom: 20px;
}
.title {
  text-align: center;
  font-size: 5em;
}

.toolbar{
    background: grey;
    width: 100vw;
    height: 5vh;
    border: 1px solid #000000;

}
.toolbar .tools {
    list-style: none;
    display: inline-grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
    margin-bottom: 2%;

}
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}
[type=radio]:checked + img {
  outline: 5px solid blue;
}


input {
    max-height: 30%;
    max-width: 30%;
}



.tools img {
    min-height: 20%;
    min-width: 20%;
    max-height: 30%;
    max-width: 30%;
}

.tools #grid {
    background: 
}
.tools button {
    cursor: pointer;
}
#color-chooser {
    display: none;
    flex-flow: row wrap;
    margin-left: 10%;
    position: absolute;
}
#color-chooser img {
    max-height: 20px;
    max-width: 20px;
}

.canvas-container {
    width: 99.5%;
    height: 85vh;
    border: 1px solid #000000;
    background: honeydew;
    padding: 0 0 0 0;
}
.canvas {
    height: 100%;
    display:grid;
    overflow: none;
}

.grid-item {
  border: 1px solid #ddd;
  background-color: white;
}

#slider-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider{
    opacity: 0.75;
    width: 100vw;
    height: 8vh;
    background: grey;
    outline: none;
    -webkit-transition: .1s;
    transition: opacity .1s;
    cursor: pointer;
}

.slider:hover {
    opacity: 1;
}

#dimChange {
    width: 10%;
    height: 25%;
    font-size: 2em;
}

footer {
    height: 5vh;
    text-align: center;
    font-size: 2em;
}

@media only screen and (max-width: 380px) {

   h2 { 
      font-size: 10em; 
   }

}

